:root {
    --gold: #e9b332;
}
#root {
    margin: 1em;
    display: grid;
    place-items: center;
}
body {
    background-color: #333;
}
h1.title_top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Henny Penny', cursive;
    color:var(--gold);
    text-shadow: 1px 1px 1px #000;
}
.accordion .title.active {
    transition: all 800ms ease;
}
.accordion .content.active {
    transition: all 800ms ease;
}
.title {
    background-color: rgb(112, 29, 29);
}
.title:hover {
    background-color: var(--gold) !important;
}
.active {
    background-color: rgb(100, 238, 82);
}
.title.active {
    background-color: rgb(103, 214, 88) !important;
}
.ui.styled.accordion .accordion .title, .ui.styled.accordion .title {
    margin: 0;
    padding: .75em 1em;
    color: rgb(255 255 255);
    font-weight: 700;
    border-top: 1px solid rgba(34,36,38,.15);
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
}
