:root {
    --gold: #e9b332;
    --dark-red: #701d1d;
}
#root {
    margin: 1em;
    display: grid;
    place-items: center;
}
body {
    background: url("/blob-scene.svg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}
img {
    max-width: 100%;
}
h1.title_top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Henny Penny", cursive;
    color: var(--gold);
    text-shadow: 1px 1px 1px #000;
    max-width: 100%;
}
.accordion .title.active {
    transition: all 800ms ease;
}
.accordion .content.active {
    transition: all 800ms ease;
}
.title {
    background-color: var(--dark-red);
}
.title:hover {
    background-color: var(--gold) !important;
}
.active {
    background-color: rgb(100, 238, 82);
}
.title.active {
    background-color: rgb(103, 214, 88) !important;
}
.ui.styled.accordion .accordion .title,
.ui.styled.accordion .title {
    margin: 0;
    padding: 0.75em 1em;
    color: rgb(255 255 255);
    font-weight: 700;
    border-top: 1px solid rgba(34, 36, 38, 0.15);
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.color-white {
    color: #fffffe !important;
}
.extra-room {
    padding: 1em !important;
}
.wider {
    width: 90%;
    margin: 0 auto;
}
.top-bottom {
    margin: 1em 0;
}
.col {
    display: flex;
    flex-flow: column;
}

.dropdown-text {
    font-size: 3em;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

.flex-center {
    justify-content: center;
    align-items: center;
}
.color-blue {
    color: #253bff !important;
}
.color-blue:hover {
    text-decoration: underline #253bff;
}
.color-blue:visited {
    color: rgb(107, 28, 107) !important;
}
.bg-white {
    background-color: #fffffe !important;
    border-radius: 4px !important;
}
.full {
    width: 100%;
}
.cover_container {
    padding: 1vw;
    background-color: #00000042;
    border-radius: 4px;
    max-width: 100%;
    box-shadow: 1px 5px 17px #0009;
}
/* overrides from Semantic */
.ui.secondary.pointing.menu {
    border-bottom: 2px solid var(--gold);
}
