// global stylesheet
// reset
$primary-color: #d88c29;
$secondary-color: #4fbfce;
$background-color: #0a0a0a;
$black-color: rgb(8, 8, 8);
$white-color: rgb(255, 255, 255);
* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: $background-color;
    color: $white-color;
}
img {
    max-width: 100%;
}
#logo {
    margin-right: 1em;
    width: 60px;
    height: 60px;
}
.logo__title {
    font-size: 1.5em;
}
.header__logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-container {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 1em auto;
}
a,
.header__link {
    text-decoration: none;
    color: $primary-color;
    &:hover {
        color: $secondary-color;
    }
}
a.bttn {
    background-color: $primary-color;
    color: $background-color;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    &:hover {
        background-color: $secondary-color;
        color: $black-color;
    }
}
button {
    background-color: $primary-color;
    color: $background-color;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    &:hover {
        background-color: $secondary-color;
        color: $black-color;
    }
}
